<h3>Waffle Tracker Notification</h3>

<p>Currently {{ needCount }} {% if needCount == 1 %}task needs{% else %}tasks need{% endif %} to be done:</p>
<hr>
{% for needCatId, needSubcats in needTasks %}
	{% for needSubcatId, needTaskList in needSubcats %}
		{% set firstTask = needTaskList[0] %}
<h4>{{ firstTask.category.parent.name|raw }} | {{ firstTask.category.name|raw }} ({{ needTaskList|length }})</h4>
<ul>
		{% for taskDef in needTaskList %}
			{% set lastDone = 'Never' %}
			{% if tasks[taskDef.id] is defined %}
				{% set lastDone = tasks[taskDef.id].donePretty %}
			{% endif %}
	<li>{{ taskDef.name|raw }} (Last done: {{ lastDone }})</li>
		{% endfor %}
</ul>
<hr style="width: 40%; text-align: left;">
	{% endfor %}
{% endfor %}