{# {% set skyPlugins = skyPlugins() %}
<script>
function clearDataCache() {
	$.ajax({
			type: "GET",
			url: '{{ path('SkyClearDataCache') }}',
			data: {},
			success: function (data) {
				if (data.error) {
					// TODO: errors
				} else {
					console.log('Cleared data cache');
				}
			},
			dataType: 'json'
		});
}
function clearImageCache() {
	$.ajax({
			type: "GET",
			url: '{{ path('SkyClearImageCache') }}',
			data: {},
			success: function (data) {
				if (data.error) {
					// TODO: errors
				} else {
					console.log('Cleared image cache');
				}
			},
			dataType: 'json'
		});
}
$(function() {
	$("#skyAddPluginDialog").dialog({
		  autoOpen: false,
		  height: 350,
		  width: 550,
		  modal: true,
		  close: function() {
			  $("#skyAddPluginDialog").dialog('close');
		  },
		  buttons: [{
			  text: "Add",
			  click: function() {
				  var pluginName = $("#skyPluginName").val();
				  var pluginPath = $("#skyPluginPath").val();
				  $.ajax({
					  type: "POST",
					  url: '{{ path('SkyAddPlugin') }}',
					  data: {pluginName: pluginName, pluginPath: pluginPath},
					  success: function (data) {
						  if (data.error) {
							  // TODO: errors
						  } else {
							  var firstChild = $("#skyPluginNames").children()[0];
							  if (firstChild.innerHTML == 'add a plugin') {
							  	$("#skyPluginNames").html('');
							  }
							  $("#skyPluginNames").append('<option>'+pluginName+'</option>');
							  $(this).dialog("close");
						  }
					  },
					  dataType: 'json'
				  });
			  }
		  }]
		});
});
function addPlugin() {
	$("#skyAddPluginDialog").dialog("open");
}
</script>#}
<script>
var spoilerFree = Cookies.get('spoilerFree') == undefined ? true : Cookies.get('spoilerFree') == 'true';
function toggleSpoilers() {
	spoilerFree = !spoilerFree;
	Cookies.set('spoilerFree',spoilerFree);
	location.reload();
}
$(function () {
	if (spoilerFree) {
		$("#spoilerSwitch").prop('checked',false);
	} else {
		$("#spoilerSwitch").prop('checked',true);
	}
	$("#spoilerSwitch").switchButton({ on_label: 'Spoilers', off_label: 'Spoiler-Free'});
	$("#spoilerSwitch").on('change', toggleSpoilers);
});
</script>
<div id="skyTop">
	<div>
		{% if source is defined %}
		Source: <span id="sourceFile">{{ source['file'] }}</span> (<span id="sourceName">{{ source['name'] }}</span> <span id="sourceVersion">{{ source['version'] }})</span>
		{% endif %}
	</div>
	<div>
	</div>
	<div id="skySpoilerSwitch">
		<input type="checkbox" id="spoilerSwitch" value="1">
	</div>
</div>