<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="script-src-elem 'self' 'unsafe-inline' *; media-src 'self'; script-src 'self' 'unsafe-inline' *;">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/css/jquery-ui.css">
	<link rel="stylesheet" href="/css/jquery.switchButton.css">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ asset("images/ESEdit-57.png") }}" />
	<link rel="apple-touch-icon" sizes="114x114" href="{{ asset("images/ESEdit-114.png") }}" />
	<link rel="apple-touch-icon" sizes="72x72" href="{{ asset("images/ESEdit-72.png") }}" />
	<link rel="apple-touch-icon" sizes="144x144" href="{{ asset("images/ESEdit-144.png") }}" />
	<script src="/js/jquery-3.6.0.js"></script>
	<script src="/js/jquery-ui.js"></script>
	<script src="/js/jquery.switchButton.js"></script>
	<script src="/js/js.cookie.js"></script>
	<link rel="stylesheet" href="/css/sky.css?v=5">
	{% block stylesheets %}
	{% endblock %}
	{% block javascripts %}
	{% endblock %}
	<title>{% block title %}Endless Sky Editor{% endblock %}</title>
	<meta content="{{ block('title') }}" property="og:title" />
	<meta content="A WIP viewer & editor for Endless Sky data files" property="og:description" />
	<meta content="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}" property="og:url" />
	<meta content="{{ app.request.schemeAndHttpHost ~ asset("images/ESEdit-144.png") }}" property="og:image" />
	<meta content="#808080" data-react-helmet="true" name="theme-color" />
</head>
<body>
	{% include 'sky/topbar.html.twig' %}
	{% include 'flashes.html.twig' %}
<div id="content">
	{% block content %}
	{% endblock %}
</div>
{% block lateScripts %}
{% endblock %}
<script>
function nameEsc(name) {
	if (!name || name == undefined) {
		console.log('Failed to escape a non-name');
	}
	var escString = name.replace(/[* ']/g, '-').replace(/[()]/g,'_');

	return escString;
}
</script>
{% include 'sky/footer.html.twig' %}
</body>
</html>
