{% extends 'base.html.twig' %}

{% block javascripts %}
<script>
$(function() {
	taskUrl = '{{ path("WaffleTaskMark") }}';
	$("#needSwitch").switchButton({
		on_label: 'In Need',
		off_label: 'Done'
	});
});
</script>
{% endblock %}

{% block content %}
<input type="checkbox" onchange="toggleInNeed(this.checked);" value="1" id="needSwitch">
<div id="dateContainer"><input id="date" type="date" value="{{ today }}"></div>
<h1>Waffle Chore Tracking</h1>

<div id="taskTabs">
	<ul>
		{% for category in categories %}
		<li><a href="#cat-{{ category.id }}" id="cat-{{ category.id }}-tab">{{ category.name|raw }}</a></li>
		{% endfor %}
		<li><a href="#red" id="red-tab">Red (<span id="red-count">{{ redCount }}</span>)</a></li>
	</ul>
	{% for category in categories %}
	<div id="cat-{{ category.id }}" class="category">
		{% for subcategory in category.children %}
		<h3 class="subcategoryHead" id="subcat-{{ subcategory.id }}-head" onclick="toggleCategory({{ subcategory.id }}, true);"><img id="disclosure_{{ subcategory.id }}" src="/images/triangle-right.png">{{ subcategory.name|raw }}</h3>
		<div id="subcat-{{ subcategory.id }}-tasks" class="subcategory">
			{% for taskDef in subcategory.tasks %}
			{% set lastDone = 'Never' %}
			{% set lastExtra = '' %}
			{% if tasks[taskDef.id] is defined %}
				{% set lastDone = tasks[taskDef.id].donePretty %}
				{% set lastExtra = tasks[taskDef.id].extra %}
			{% endif %}
			<div class="taskBox{% if taskDef.red %} red{% endif %}{% if taskDef.inNeed %} ui-state-highlight taskInNeed{% endif %}" id="task-{{ taskDef.id }}">
				<div class="taskName">{{ taskDef.name|raw }}</div>
				<div class="taskLast" id="last-{{ taskDef.id }}">{{ lastDone }}</div>
				{% if taskDef.extra %}
				<div class="taskExtra"><input type="text" size="4" id="extra-{{ taskDef.id }}" value="{{ lastExtra }}"> {{ taskDef.extra }}</div>
				{% endif %}
				<div class="taskButtonContainer">
					<button id="doneButton-{{ taskDef.id }}" class="doneButton" onclick="markTaskDone({{ taskDef.id }}, false);">Did It!</button>
					<button id="inNeedButton-{{ taskDef.id }}" class="inNeedButton" onclick="markTaskInNeed({{ taskDef.id }}, false);">{% if taskDef.inNeed %}Doesn't Need Doing{% else %}Needs Doing Now{% endif %}</button>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	{% endfor %}
	<div id="red">
		{% for redCatId, redSubcats in redTasks %}
			{% for redSubcatId, redTaskList in redSubcats %}
				{% set firstTask = redTaskList[0] %}
		<h3 class="subcategoryHead" id="red-{{ firstTask.category.id }}-head" onclick="toggleCategory('red-{{ firstTask.category.id }}', true);"><img id="disclosure_red-{{ firstTask.category.id }}" src="/images/triangle-right.png">{{ firstTask.category.parent.name|raw }} | {{ firstTask.category.name|raw }} ({{ redTaskList|length }})</h3>
		<div id="subcat-red-{{ firstTask.category.id }}-tasks" class="subcategory">
				{% for taskDef in redTaskList %}
					{% set lastDone = 'Never' %}
					{% set lastExtra = '' %}
					{% if tasks[taskDef.id] is defined %}
						{% set lastDone = tasks[taskDef.id].donePretty %}
						{% set lastExtra = tasks[taskDef.id].extra %}
					{% endif %}
			<div class="taskBox red" id="red-task-{{ taskDef.id }}">
				<div class="taskName">{{ taskDef.name|raw }}</div>
				<div class="taskLast" id="red-last-{{ taskDef.id }}">{{ lastDone }}</div>
				{% if taskDef.extra %}
				<div class="taskExtra"><input type="text" size="4" id="red-extra-{{ taskDef.id }}" value="{{ lastExtra }}"> {{ taskDef.extra }}</div>
				{% endif %}
				<div class="taskButtonContainer">
					<button id="redDoneButton-{{ taskDef.id }}" onclick="markTaskDone({{ taskDef.id }}, true);">Did It!</button>
				</div>
			</div>
				{% endfor %}
		</div>
			{% endfor %}
		{% endfor %}
	</div>
</div>
{% endblock %}